export(calcGjoint)
export(combineRank)
export(contLikINT)
export(contLikMCMC)
export(contLikMCMCpara)
export(contLikMLE)
export(contLikMLEpara)
export(deconvolve)
export(exactMACdistr)
export(fitgammamodel)
export(freqImport)
export(getGlist)
export(getKit)
export(iszerolik)
export(logLiki)
export(noncontrMLE)
export(prepareC)
export(Qassignate)
export(simDOdistr)
export(tableReader)
export(validMCMC)
export(validMLEmodel)
useDynLib(euroformix)
exportPattern("^[^\\.]")
